*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.body{
    font-family: 'Playfair Display', serif;
    display: grid;
    /* background-color: #4158D0; */
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
    background-image: linear-gradient(to right bottom, #14213d, #47305e, #85386d, #c14367, #ec604f, #ea5f4e, #e85e4e, #e65d4d, #b63e62, #773163, #38264d, #0a1428);
    /* background-image: linear-gradient(1%, #000428 0%, #004E92 100%); */
    align-content: center;
    min-height: 100vh;
}

.card{
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

section{
    display: grid;
    
    min-height: 70vh;
    width: 75vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px
}
.image{
    /* background-color: #12192c; */
    display: flex;
    border-radius: 12px 0 0 12px;
}
.image img{
height:50vh;
margin:50px auto
}
.content{
    /* background-color: #12192c; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0  12px 12px 0;
    color: #fff;
}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.content p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color:#ffffff
}