<div class="body">
    <div class="image">
        <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
    </div>

    <!-- <div class = "content"> -->
    <div>
        <h2 style="text-align: center;">About Us</h2>
        <span>
            
        </span>
        <div class="card" style="padding: 12px; margin:0 30px 30px 30px;">
        <p style="font-size: 15px; font-family: 'Ubuntu', sans-serif; font-weight: 600;">The Online voting system (OVS) also known as e-voting is a term encompassing several different types of
            voting embracing both electronic means of counting votes. Electronic voting technology can include punched
            cards, optical scan voting systems and specialized voting kiosks (including self contained direct-recording
            electronic voting systems or DRE). It can also involve transmission of ballots and votes via telephones,
            private computer networks, or the internet.
            Online voting is an electronic way of choosing leaders via a web driven application. The advantage of online
            voting over the common “queue method” is that the voters have the choice of voting at their own free time
            and there is reduced congestion. It also minimizes on errors of vote counting. The individual votes are
            submitted in a database which can be queried to find out who of the aspirants for a given post has the
            highest number of votes.
            This system is geared towards increasing the voting percentage in India since it has been noted that with
            the old voting method {{'{'}}the Queue System{{'}'}}, the voter turnout has been a wanting case. With system
            in place also, if high security is applied, cases of false votes shall be reduced.
            With the “ONLINE VOTING SYSTEM”, a voter can use his\her voting right online without any difficulty. He\She
            has to register as a voter first before being authorized to vote. The registration should be done prior to
            the voting date to enable data update in the database.
            However, not just anybody can vote. For one to participate in the elections, he/she must have the
            requirements. For instance, he/she must be a registered citizen i.e. must be 18 and above years old. As
            already stated, the project ‘Online Voting' provides means for fast and convenient voting and access to this
            system is limited only to registered voters.
            Internet voting systems are appealing for several reasons which include; People are getting more used to
            work with computers to do all sorts of things, namely sensitive operations such as shopping and home banking
            and they allow people to vote far from where they usually live, helping to reduce absenteeism rate.</p>
        </div>

    </div>
</div>