<body>
    

<div class="container">
    <h1>Instructions for Voters</h1><br>
     
 
      <p>Step 1:  Enter your username/Email-ID to login</p> <br>
      <p>Step 2:  Click Login</p> <br>
  
      <p>Step 3:  Select the Party and Candidate</p> <br>
  
      <p>Step 4:  Click Vote and Submit</p>
  
  </div>

  <!--<a href="file:///C:/Users/HCLTSS/Desktop/EvoSys%20Proj/EvoSys%20Proj/E-Voting-System-master/project-voting/project-voting/Admin%20instructions.html">
  <button class="Nextbtn">
      Next>>>!-->
  <button>

  <a routerLink="/admininstruc">Next &raquo;</a>
  </button>

</body>