<body>
<div class="container">
    <h1>Instructions for Admin</h1> <br>
     
  
      <p>Step 1:  Enter your Admin credentials to login</p> <br>
      <p>Step 2:  Click Login</p> <br>
      <p>Step 3:  Create the Election details</p> <br>
      <p>Step 4:  Click Register </p><br>
      <p>Step 5:  Thereby Elections will be scheduled</p>
  
  </div>
  
  
  <!--<button class="Home">
    home>>
  
      
  </button>
  <input type="button" value="Go back!" onclick="history.back()">
  </a>!-->
  <a routerLink="/instructions" class="previous">&laquo; Previous</a>
</body>  
