<body>
  <h1 style="text-align: center; font-style: italic; font-size: 30px;"> Hello ADMIN! </h1>
  
  <h2 style="text-align: center; font-weight: bold; font-size: 30px;"> Sign In to create your Online Election </h2>
  <div class="container"><br>
  
      <small class="text-danger">{{msg}}</small> 
      <form #loginform = "ngForm"  (ngSubmit)="loginasadmin()">
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email here " [(ngModel)] ="user.emailid" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email = "ngModel"
            [class.is-invalid] = "email.invalid && email.touched"> 
  <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched"> Emailid is required to login  </small> -->
  <div *ngIf="email.errors && (email.invalid && email.touched)">
      <small class="text-danger" *ngIf="email.errors" > Email id is required to login. </small>
      <small class="text-danger" *ngIf="email.invalid"> Enter the valid Email-ID  </small>
  
    </div>        </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="password" placeholder="Your Password"  [(ngModel)] ="user.password" required  #password="ngModel"
            [class.is-invalid] = "password.invalid && password.touched"> 
            
            <small class="text-danger" [class.d-none]="password.valid || password.untouched"> Password is required to login  </small>
      
          </div><br>
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="autoSizingCheck">
            <label class="form-check-label" for="autoSizingCheck">
              Remember me
            </label>
          </div>
         
          
          <button type="submit" class="btn btn-primary btn-lg" style="margin-left: 220px;" [disabled]="loginform.form.invalid">Login</button>
        </form>
        <br>
    <div class="center">
    <button [routerLink]="['/login']" id="look"> If you are a voter , click here </button></div>
      </div>
    </body>
      