<section class="login-main-wrapper">
    <div class="main-container">

            <div class="login-main-container">
                <div class="thankyou-wrapper">
                    <h1>
                        <marquee behavior="alternate" scrollamount="20"><img src="https://i.stack.imgur.com/djlWI.png"
                                alt="thanks" /></marquee>
                    </h1>
                   
                    <a routerLink="/homepage">Back to home</a>
                </div >
            </div>
               </div>
                
</section>
